<style>
    p {
        font-family: sans-serif;
    }
    p.key{
        margin: 10px 0;
        font-weight: 700;
    }
    span{
        color: blue;
    }



</style>
<p class="key">From: <span>{{name}}</span></p>
<p class="key">Email: <span>{{email}}</span></p>
<p class="key">Feebback:</p>
<p>{{feedback}}</p>
